<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="wrapper">
            <div class="logo">
                <img src="../../assets/images/banklogo.jpg" alt="">
            </div>
            <div class="text-center mt-2">
                <h3>My Bank</h3>
                <h6>{{aim}}</h6>
            </div>
            <form [formGroup]="loginForm" class="mt-3">
                <div class="form-field d-flex mt-2">
                    <span class="far fa-user mt-2"></span>
                    <input formControlName="acno" class="form-control" type="text" id="login_acno" name="acno" [placeholder]="accounts">
                </div>
                <div *ngIf="this.loginForm.get('acno')?.touched && this.loginForm.get('acno')?.errors" style="color:red;">Invalid acno</div>
                <div class="form-field d-flex mt-4">
                    <span class="far fa-user mt-2"></span>
                    <input formControlName="pswd" class="form-control" type="password" id="login_pswd" name="pswd" placeholder="password">
                </div>
                <div *ngIf="this.loginForm.get('pswd')?.touched && this.loginForm.get('pswd')?.errors" style="color:red;">Invalid password</div>
                <!-- <button type="button" class="btn btn-primary mt-3" (click)="login()">Login</button> -->
                <div class="d-grid gap-4">
                    <button class="btn btn-primary mt-3" type="button" (click)="login()">Login</button>
                </div>
            </form>
            <div class="text-center fs-6">
                <a href="">Forgot password?</a> or <a routerLink="register">Sign up</a>
            </div>
        </div>
    </div>
    <div class="col-4"></div>
</div>
