<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">
           <h2>Welcome {{user}}</h2>
        </span>
    </div>
  </nav>
<div class="parent mt-3">
    <div>
        <a id="a1" routerLink="/transaction"> Get the Transaction details</a>
    </div>
    <div class="child">
            <div class="wrapper">
                <div class="logo">
                    <img src="../../assets/images/banklogo.jpg" alt="">
                </div>
                <div class="text-center mt-4">
                    <h3>Deposit</h3>
                </div>
                <form [formGroup]="depositForm" class="p-2 mt-3">
                    <div class="form-field d-flex mt-2">
                        <span class="far fa-user"></span>
                        <input formControlName="acno" class="form-control" type="text" id="depo_accno" name="acno" placeholder="Account number">
                    </div>
                    <div *ngIf="this.depositForm.get('acno')?.touched && this.depositForm.get('acno')?.errors" style="color:red;">Invalid acno</div>
                    <div class="form-field d-flex mt-3">
                        <span class="far fa-user"></span>
                        <input formControlName="pswd"  class="form-control" type="password" id="depo_pswd" name="pswd" placeholder="password">
                    </div>
                    <div *ngIf="this.depositForm.get('pswd')?.touched && this.depositForm.get('pswd')?.errors" style="color:red;">Invalid password</div>
                    <div class="form-field d-flex mt-3">
                        <span class="far fa-user"></span>
                        <input formControlName="amount" class="form-control" type="text" id="depo_amt" name="amount" placeholder="Amount">
                    </div>
                    <div *ngIf="this.depositForm.get('amount')?.touched && this.depositForm.get('amount')?.errors" style="color:red;">Invalid amount</div>
                    <!-- <button type="button" class="btn btn-primary mt-3" (click)="deposit()">Deposit</button> -->
                    <div class="d-grid gap-4">
                        <button class="btn btn-primary mt-3 p-2" type="button" (click)="deposit()">Deposit</button>
                    </div>
                </form>
                
            </div>
    </div>
    <div class="child">
        <div class="wrapper">
            <div class="logo">
                <img src="../../assets/images/banklogo.jpg" alt="">
            </div>
            <div class="text-center mt-4">
                <h3>Withdraw</h3>
            </div>
            <form [formGroup]="withdrawForm" class="p-2 mt-3">
                <div class="form-field d-flex mt-2">
                    <span class="far fa-user"></span>
                    <input formControlName="acno1" class="form-control" type="text" id="with_accno" name="acno1" placeholder="Account number">
                </div>
                <div *ngIf="this.withdrawForm.get('acno1')?.touched && this.withdrawForm.get('acno1')?.errors" style="color:red;">Invalid acno</div>
                <div class="form-field d-flex mt-3">
                    <span class="far fa-user"></span>
                    <input formControlName="pswd1"  class="form-control" type="password" id="with_pswd" name="pswd1" placeholder="password">
                </div>
                <div *ngIf="this.withdrawForm.get('pswd1')?.touched && this.withdrawForm.get('pswd1')?.errors" style="color:red;">Invalid password</div>
                <div class="form-field d-flex mt-3">
                    <span class="far fa-user"></span>
                    <input formControlName="amount1" class="form-control" type="text" id="with_amt" name="amount1" placeholder="Amount">
                </div>
                <div *ngIf="this.withdrawForm.get('amount1')?.touched && this.withdrawForm.get('amount1')?.errors" style="color:red;">Invalid amount</div>
                <!-- <button type="button" class="btn btn-primary mt-3" (click)="withdraw()">Withdraw</button> -->
                <div class="d-grid gap-4">
                    <button class="btn btn-primary mt-3 p-2" type="button" (click)="withdraw()">Withdraw</button>
                </div>
            </form>
        </div>
    </div>
</div>
