table,th,tr,td{
    color: black;
    border: 2px solid black;
    padding: 10px;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

}
a{
    color: red;
    margin-left: 50px;
    
}